# requirements.txt --- Defines project dependencies.
#
# NOTE: The dependencies are defined in setup.py file (see the
#       `install_requires` key). The `-e .` in this file informs pip to look in
#       setup.py, so a `pip install -r requirements.txt` works as expected.
#
#       See <http://stackoverflow.com/a/19081268>
-e .


# -------------------------
# Development dependencies
# -------------------------
coverage==4.5.4
pylint==2.4.3
setuptools-lint==0.6.0
