# requirements.txt --- Defines project dependencies.
#
# NOTE: The dependencies are defined in setup.py file (see the
#       `install_requires` key). The `-e .` in this file informs pip to look in
#       setup.py, so a `pip install -r requirements.txt` works as expected.
#
#       See <http://stackoverflow.com/a/19081268>
-e .


# -------------------------
# Development dependencies
# -------------------------
coverage==5.1
pylint==2.5.0
python-dotenv==0.13.0
setuptools-lint==0.6.0
zappa==0.51.0
